<h1> Milestone Listing</h1>
<table border=1 class="listing">
	
	<thead>
		<tr>
			<th>Id</th>
			<th>name</th>
			<th>description</th>
			<th>start_date</th>
			<th>end_date</th>
			
		</tr>		
	</thead>
	<tbody>
		<% @milestones.each do |milestone| %>
			<tr>
				<td><%= milestone.id%></td>
				<td><%= milestone.name%></td>
				<td><%= milestone.description%></td>
				<td><%= milestone.start_date%></td>
				<td><%= milestone.end_date%></td>
				<td><%=link_to "show",milestone_path(milestone) %></td>
				<td><%=link_to "edit",edit_milestone_path(milestone) %></td>
				<td><%=link_to "Delete",milestone_path(milestone), :method=>'delete' %></td>

			</tr>
			
		<% end %>
		<%=link_to "New Milestone",new_milestone_path %>



	</tbody>
</table>			