<p>
	ID
	<%= @milestone.id %>
</p>
<br>
<p>
	Name
	<%= @milestone.name %>
</p>
<br>
<p>
	Description
	<%= @milestone.description %>
</p>
<br>
<p>
	start Date
	<%=@milestone.start_date %>
</p>
<br>
<p>
	End Date
	<%=@milestone.end_date %>
</p>