<h1> Task Listing</h1>
<table border=1 class="listing">
	
	<thead>
		<tr>
			<th>Id</th>
			<th>name</th>
			<th>description</th>
			<th>start_date</th>
			<th>end_date</th>
			<th>status</th>
			
		</tr>		
	</thead>
	<tbody>
		<% @tasks.each do |task| %>
			<tr>
				<td><%= task.id%></td>
				<td><%= task.name%></td>
				<td><%= task.description%></td>
				<td><%= task.start_date%></td>
				<td><%= task.end_date%></td>
				<td>
					<%= task.status%>
					<% if task.status != "finish" %>
						<%= link_to "Finish Task",finish_task_project_milestone_task_path(@project,@milestone,task) %>
					<% end %>
				</td>
				<td><%=link_to "show",project_milestone_task_path(@project,@milestone,task) %></td>
				<td><%=link_to "edit",edit_project_milestone_task_path(@project,@milestone,task) %></td>
				<td><%=link_to "Delete",project_milestone_task_path(@project,@milestone,task),:method =>'delete' %></td>
				

			</tr>
			
		<% end %>
		<%=link_to "New Task",new_project_milestone_task_path(@project,@milestone) %>



	</tbody>
</table>			