<p>
	ID
	<%= @task.id %>
</p>
<br>
<p>
	Name
	<%= @task.name %>
</p>
<br>
<p>
	Description
	<%= @task.description %>
</p>
<br>
<p>
	start Date
	<%=@task.start_date %>
</p>
<br>
<p>
	End Date
	<%=@task.end_date %>
</p>