<h1> User Listing</h1>
<table border=1 class="listing">
	
	<thead>
		<tr>
			<th>Id</th>
			<th>name</th>
			<th>description</th>
			<th>start_date</th>
			<th>end_date</th>
			
		</tr>		
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id%></td>
				<td><%= user.name%></td>
				<td><%= user.description%></td>
				<td><%= user.start_date%></td>
				<td><%= user.end_date%></td>
				<td><%=link_to "show",user_path(user) %></td>
				<td><%=link_to "edit",edit_user_path(user) %></td>
				<td><%=link_to "Delete",user_path(user),:method=>'delete' %></td>

			</tr>
			
		<% end %>
		<%=link_to "New User",new_user_path %>



	</tbody>
</table>			