<%= form_for(@user) do |f| %>
<% if @user.errors.present? %>
<ul>
<%@user.errors.full_messages.each do |message| %>
<li><%= message%></li>
<% end %>
</ul>
<% end %>
    <%= f.label name="Enter Name"%>
	<%= f.text_field :name %>
	<br>
	<%= f.label name="Enter description"%>
	<%= f.text_field :description %>
	<br>
	<%= f.label name="Enter start date"%>
	<%= f.date_select :start_date %>
	<br>
	<%= f.label name="Enter end date"%>
	<%= f.date_select :end_date %>
	<br>
	
	
	<%=	f.submit "Save" %>
<% end %>