<p>
	ID
	<%= @user.id %>
</p>
<br>
<p>
	Name
	<%= @user.name %>
</p>
<br>
<p>
	Description
	<%= @user.description %>
</p>
<br>
<p>
	start Date
	<%=@user.start_date %>
</p>
<br>
<p>
	End Date
	<%=@user.end_date %>
</p>