<h1> Project Listing</h1>
<table border=1 class="listing">
	
	<thead>
		<tr>
			<th>Id</th>
			<th>name</th>
			<th>description</th>
			<th>start_date</th>
			<th>end_date</th>
			
		</tr>		
	</thead>
	<tbody>
		<% @projects.each do |project| %>
			<tr>
				<td><%= project.id%></td>
				<td><%= project.name%></td>
				<td><%= project.description%></td>
				<td><%= project.start_date%></td>
				<td><%= project.end_date%></td>
				<td><%=link_to "show",project_path(project) %></td>
				<td><%=link_to "edit",edit_project_path(project) %></td>
				<td><%=link_to "Delete",project_path(project),:method=>'delete' %></td>

			</tr>
			
		<% end %>
		<%=link_to "New Project",new_project_path %>



	</tbody>
</table>			