<p>
	ID
	<%= @project.id %>
</p>
<br>
<p>
	Name
	<%= @project.name %>
</p>
<br>
<p>
	Description
	<%= @project.description %>
</p>
<br>
<p>
	start Date
	<%=@project.start_date %>
</p>
<br>
<p>
	End Date
	<%=@project.end_date %>
</p>